.container{
    padding: 3%;
}
.Tie {
    color: orange;
}
.Win {
    color: green;
}
.Lose {
    color: red;
}
.icon{
    width: 55px; 
    height: 55px;
}
.resultIcon{
    width: 35px; 
    height: 35px;
}